*{
    margin: 0  ;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    width: 100%;
    height: 100vh;
    
}

header{
    padding: min (2vh, 2rem);
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0.21rem 0.5rem  #ffffff ;
}

header img{
    width: 8rem;
    height: auto;
    margin: 1rem;
    border-radius: 1rem;
}

header button{
    width: 13rem;
    height: 1.5rem;
    background-color:rgb(180, 119, 76) ;
    border-radius: 1rem;
    padding: 1.3rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.whatsapp{ /*define a classe " whatsapp"*/
    position: relative;   /*permite que os elementos posicionados dentro da classe sejam posicionados em relação a ela*/
}

.whatsapp img{
    position: fixed; /*mantém a imagem em uma posição fixa na tela, mesmo ao rolar a página*/
    bottom: 20px; /*define a distancia da imagem em relação a parte inferior da tela*/
    right: 20px; /*define a distancia  da imagem em relação a direita da tela*/
    width: 5rem; /*define a largura da imagem como 5 unidades de rem (relativas ao tamanho da fonte)*/
    height: auto; /*ajusta a altura da imagem automaticamente para manter a proporção*/
}

.sessão-00{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, #ffffff,33%, #b4774c  100%) ;
    width: 100%;
    padding: min(20vh, 6rem);

}


.sessão-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(-1deg, #ffffff,33%, #b4774c  100%) ;
    width: 100%;
    padding: min(20vh, 6rem);

}

.sessão-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    padding: (20vh, 6rem);
}

.sessão-3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, #ffffff,33%, #b4774c  100%) ;
    width: 100%;
    padding: (20vh, 6rem);;
}

.div-1 p{
    font-size: 2rem;
    margin: 1.2rem;
    color: #ffffff;

}

.letra p{
    color:  rgb(180, 119, 76);
}

.div-2 img{
    width: 30em;
    margin: 5rem auto ;
    margin: 6rem;
    border-radius: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10rem;
    z-index: 1;
    flex-wrap: wrap;
    position: relative;
}

.card{
    width: 200px;
    height: 480px;
    box-shadow: 20px 20px 50px rgb(180, 119, 76);
    border-radius: 15px;
    background-color: #ffffff;
    color: black;
}

.card img{
    width: 14.8vw;
    height: 35vh;
    border-radius: 15px;
    margin-top: 2rem;
    


}

.card p{
   padding: 1rem;
   margin-top: -3rem;
}

.content{
    padding: 20px;
    text-align: center;
    transform: translateY(50px);
    opacity: 0.2;
    transition: 0.5s;
}

.content:hover{
    opacity: 1;
    transform: translateY(0px);
}

.container h2{
    position: absolute;
    right: 30px;
    font-size: 5rem;
    color: #000000;
    
}

.container h3{
    font-size: 1.8em;
    color: #000000;
    z-index: 1;
}

.container p{
    font-size: 0.8em;
    color: #000000;
    font-weight: 300;
    margin-top: 4rem;
}

.container a{
    padding: 8px 20px;
    background-color: #ffffff;
    color: rgb(180, 119, 76);
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    margin-top: 2.7rem;
    box-shadow: 0 5px 15px black;
    display: inline-block;
    position: relative;
}

footer{
    background-color: rgb(180, 119, 76) ;
    width: 100%;
    padding: min(10vh, 4rem);
}

@media (max-width: 888px){
    header img{
        font-size: 5.5rem;
        z-index: 999;
    }

    header button{
        width: 10rem;
        height: 0.8rem;
    }

    .sessão-1{
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .sessão-2{
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .div-1 p {
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: left;
        padding: 2rem;
        width: 100%;
        margin: 2em;
    }

    .div-2 img{
        width: 20rem;
        height: auto;
    }
}
